
/* Your CSS Code here. */
*{
	margin:0;
	padding:0;
	background-color:pink;
}
.moviePic{
	height:auto;
	width:1000px;
	opacity:0.5;
}

.movieDetail{

	top:auto;
	width:50px;
	text-align:centre;
font-size:20px;
	
}
.movieDetails







